@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	/*
	border-left: solid whitesmoke 1px;
	border-right: solid whitesmoke 1px;
	*/
	padding: 40px 15px;
}

body {
	background: #120c03;
	color: white;
	font-family: "Rubik", sans-serif;
}

.meal {
	margin-bottom: 50px;
	width: 100%;
}

.meal:last-of-type {
	margin-bottom: 0;
}

.meal-title {
	position: relative;
	font-size: 22px;
	font-weight: 400;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.meal-title span {
	user-select: none;
}

.image-container {
	position: relative;
	margin-top: 10px;
}

.image-container:hover {
	cursor: pointer;
}

.meal img {
	width: 100%;
	opacity: 0.85;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.2);
}

.meal-actions {
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 10px 10px;
}

.meal-actions button {
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.8);
	width: 35px;
	height: 35px;
	border: 0;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer;
}

.meal-actions button .material-icons {
	font-size: 18px;
}

.pink {
	color: hotpink;
}

.comment {
	width: 48px !important;
	justify-content: space-between;
}

.count {
	margin-left: 5px;
}

.meal-desc {
	margin-top: 15px;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
}

.meal-price {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5px;
}

.meal-price div {
	display: flex;
	flex-direction: column;
	font-weight: 300;
	font-size: 14px;
}

.meal-price div span {
	font-size: 20px;
}

.meal-price div span::after {
	content: "€";
	font-size: 12px;
}

.pointer {
	cursor: pointer;
}

.more-menu {
	padding: 10px 0;
	background: white;
	color: #120c03;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1;
	border-radius: 10px;
	width: 150px;
	overflow: hidden;
}

.more-menu div {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 13px;
	transition: background ease-in-out 100ms;
}

.more-menu div:hover {
	background: rgba(200, 200, 200, 0.5);
}

.more-menu div .material-icons {
	font-size: 18px;
	margin-right: 5px;
}

.categories {
	width: 100%;
	flex-wrap: wrap;
	display: inline-flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

.cat {
	margin: 0 5px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	border-radius: 10px;
	overflow: hidden;
	transition: background ease-in-out 100ms;
}

.cat:hover {
	background: rgba(255, 255, 255, 0.1);
}

.cat:first-of-type {
	margin-left: 0;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}

.cat:last-of-type {
	margin-right: 0;
}

.cat .title {
	margin: 10px 0;
	font-weight: 300;
	padding: 0 5px;
}

.cat-img {
	background-position: center;
	background-size: cover;
	min-width: 60px;
	width: 100%;
	height: 60px;
	border-radius: 10px;
}
